<div class="alert alert-danger" role="alert" *ngIf="message">
  {{ message }}
</div>
<form class="form-inline" *ngIf="!user">
  <div class="form-group">
    <label for="username">User:</label>
    <input class="form-control" name="username" #username>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input class="form-control " type="password" name="password" #password>
  </div>
  <a class="btn btn-default" (click)="login(username.value, password.value)">
    <span class="ui-button-icon-left ui-c fa fa-fw fa-sign-in"></span> login
  </a>
</form>
<div class="" *ngIf="user">
  <b>{{ user }}</b>
  <a class="btn btn-default" type="button" (click)="logout()">
    <span class="ui-button-icon-left ui-c fa fa-fw fa-sign-out"></span> Logout</a>
</div>